#map {position:absolute; top:100px; bottom:0; width:100%;}

/* Styles de base */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Bandeau moderne */
.bandeau {
    background: #2F4F4F);
    color: white;
    text-align: center;
    padding: 5px 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 5px 5px;
    animation: fadeIn 1.5s ease-in-out;
}

/* Animation d'apparition */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsivité */
@media (max-width: 768px) {
    .bandeau {
        padding: 10px 10px;
    }
}

 #menu_basemap {
            position: absolute;
            font-family : arial;
            top: 10px;
            left: 300px;
            background: white;
            padding: 10px;
            z-index: 1000;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
        }

.Mypopup .maplibregl-popup-content {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: grey;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.Mypopup2 .maplibregl-popup-content {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: grey;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.Mypopup3 .maplibregl-popup-content {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: grey;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.menu {
            font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
            position: absolute;
            width: 200px;
            top: 45px ;
            left: 5px;
            padding: 10px;
        }

.menu .menu_overlay {
            background-color: #fff;
            box-shadow:0 1px 2px rgba(0, 0, 0, 0.10);
            border-radius: 3px;
            padding: 10px;
            margin-bottom: 10px;
        }

.menu_overlay fieldset {
            border: none;
            padding: 0;
            margin: 0 0 10px;
        }

.menu_overlay .categoryLabel {
            display: block;
            font-weight: bold;
            margin: 0 0 5px;
        }